{% include "head.html" %} 
<body>
  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex flex-column align-items-center justify-content-center">
    <h1>Hi, I'm Fani Muh Ardian Saputra</h1>
    <h2>I am a Full Stack Android & Web Developer</h2>
    <a href="#about" class="btn-get-started scrollto"><i class="bi bi-chevron-double-down"></i></a>
  </section><!-- End Hero -->
  {% include "header.html" %} 
  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container">

        <div class="row no-gutters">
          <div class="image col-xl-4  d-flex align-items-stretch justify-content-center justify-content-lg-start"></div>
          <div class="col-xl-7 ps-0 ps-lg-5 pe-lg-1 d-flex align-items-stretch">
            <div class="content d-flex flex-column justify-content-center">
              <h3>Fani Muh Ardian Saputra</h3>
              <p>
                Informatics Engineering final student who has a strong interest in programming languages, is innovative and motivated, initiative and will not waste opportunities to add and develop skills in this field
                because I enjoy challenges and am also highly curious, adaptable and able to work together
                during. Experienced in working with clients to produce innovative and efficient solutions. With
                strong reasoning skills and coding skills that I got from following training and materials
                In my self-teaching, I am ready to have a career and am competent in the field of Web Developer.
              </p>
            </div><!-- End .content-->
          </div>
        </div>

      </div>
    </section><!-- End About Section -->

    <!-- ======= Skills Section ======= -->
    <section id="skills" class="skills section-bg">
      <div class="container">

        <div class="section-title">
          <h2>Skills</h2>
        </div>

        <div class="row skills-content">

          <div class="col-lg-6">

            <div class="progress">
              <span class="skill">HTML <i class="val">100%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">CSS <i class="val">70%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">JavaScript <i class="val">70%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">JQuery <i class="val">70%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">Ajax <i class="val">65%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">Python <i class="val">65%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

          </div>

          <div class="col-lg-6">

            <div class="progress">
              <span class="skill">Java <i class="val">70%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">Kotlin <i class="val">75%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">Flask <i class="val">70%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">MongoDB <i class="val">65%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">Firebase <i class="val">65%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">Scrum <i class="val">80%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

          </div>

        </div>

      </div>
    </section><!-- End Skills Section -->

    <!-- ======= Resume Section ======= -->
    <section id="resume" class="resume section-bg">
      <div class="container">

        <div class="section-title">
          <h2>Resume</h2>
        </div>
        <div class="row">
          <div class="col-lg-6">
            <h3 class="resume-title">Education</h3>
            <div class="resume-item">
              <h4>Universitas YARSI</h4>
              <h5>2021 - sekarang</h5>
              <p><em>Faculty of Information Technology, Information Engineering Study Program</em></p>
            </div>
            <div class="resume-item">
              <h4>MA AL - MUDDATSIRIYAH</h4>
              <h5>2017 - 2020</h5>
              <p><em>Natural Science</em></p>
            </div>
            <div class="resume-item">
              <h4>SMPN 59 Jakarta</h4>
              <h5>2014 - 2017</h5>
            </div>
            <div class="resume-item">
              <h4>SDN 012 Jakarta</h4>
              <h5>2014 - 2008</h5>
            </div>
            <h3 class="resume-title">Assistant Dosen</h3>
            <div class="resume-item">
              <h4>Basic of Programming</h4>
              <p><em>Responsible for helping lectures run, making assignments for student competency, and giving grades and inputting grades.</em></p>
            </div>
            <div class="resume-item">
              <h4>Object Orientied Programming</h4>
              <p><em>Responsible for helping lectures run, making assignments for student competency, and giving grades and inputting grades.</em></p>
            </div>
          </div>
          <div class="col-lg-6">
            <h3 class="resume-title">Organizational Experience</h3>
            <div class="resume-item">
              <h4>Student Council</h4>
              <h5>2018 - 2019</h5>
              <p><em>National Defense Coordinator </em></p>
            </div>
            <div class="resume-item">
              <h4>Competition Organizing Committee 17 August</h4>
              <h5>2018 - 2019</h5>
              <p><em>Chief Executive </em></p>
            </div>
            <div class="resume-item">
              <h4>Basketball Extracurricular</h4>
              <h5>2018 - 2019</h5>
              <p><em>Leader Basketball Extracurricular </em></p>
            </div>
            <div class="resume-item">
              <h4>Youth Red Cross Extracurricular</h4>
              <h5>2018 - 2019</h5>
              <p><em>member Youth Red Cross Extracurricular </em></p>
            </div>
            <div class="resume-item">
              <h4>Officers Raising the Red and White Flag August 17</h4>
              <h5>2018 - 2019</h5>
              <p><em>flag raising troops </em></p>
            </div>
          </div>

          <div class="col-lg-6">
            <h3 class="resume-title">Project Experience</h3>
            <div class="resume-item">
              <h4>Android Development</h4>
              <h5>November 2023 - January 2024</h5>
              <p><em>Collaborating with clients to produce innovative and efficient solutions. With background
                Strong background in Kotlin programming, we have successfully worked on projects with Zakat that not only met, but also exceeded client expectations.
              </em></p>
              <br/>
              <p><em></em>Our success is largely due to the implementation of the Scrum methodology, which allows us to work iteratively and adaptively, ensuring that each sprint delivers increased value to the product. We believe in building strong communication with teams and stakeholders, which is key to achieving shared goals
                and overcome challenges effectively.</em></em></p>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End Resume Section -->

    <!-- ======= Services Section ======= -->
    <section id="services" class="services section-bg">
      <div class="container">

        <div class="section-title">
          <h2>Services</h2>
        </div>

        <div class="row">
          <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
            <div class="icon-box">
              <div class="icon"><i class="bi bi-pc-display-horizontal"></i></div>
              <h4 class="title"><a href="">Web Developer</a></h4>
              <p class="description">
                I have expertise in developing website, able to create
                innovative and efficient solutions to meet the needs of modern
                users with reliable technical capabilities
              </p>
            </div>
          </div>

          <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
            <div class="icon-box">
              <div class="icon"><i class="bi bi-android2"></i></div>
              <h4 class="title"><a href="">Android Developer</a></h4>
              <p class="description">
                I have expertise in developing Android applications, able to
                create innovative and efficient solutions to meet the needs of
                modern users with reliable technical capabilities
              </p>
            </div>
          </div>

          <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
            <div class="icon-box">
              <div class="icon"><i class="bi bi-credit-card-2-front"></i></div>
              <h4 class="title"><a href="">UI/UX Designer</a></h4>
              <p class="description">
                I am a highly skilled UI/UX Designer, able to combine aesthetic
                design acumen with a deep understanding of user experience to
                create engaging and easy to use interfaces.
              </p>
            </div>
          </div>

          <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
            <div class="icon-box">
              <div class="icon"><i class="bi bi-person-arms-up"></i></div>
              <h4 class="title"><a href="">Method Scrum</a></h4>
              <p class="description">
                Our success is largely due to the implementation of the Scrum methodology, 
                which allows us to work iteratively and adaptively, ensuring that each sprint 
                delivers increased value to the product.
              </p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Services Section -->

    <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio section-bg">
      <div class="container">

        <div class="section-title">
          <h2>Portfolio</h2>
        </div>

        <div class="row">
          <div class="col-lg-12 d-flex justify-content-center">
            <ul id="portfolio-flters">
              <li data-filter="*" class="filter-active">All</li>
              <li data-filter=".filter-app">App</li>
              <li data-filter=".filter-web">Web</li>
            </ul>
          </div>
        </div>

        <div class="row portfolio-container">

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="./static/assets/img/portfolio/portofolio-bersama-zakat-app.png" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Bersama Zakat</h4>
                <p>Android Application</p>
              </div>
              <div class="portfolio-links">
                <a href="./static/assets/img/portfolio/portofolio-bersama-zakat-app.png" data-gallery="portfolioGallery" class="portfolio-lightbox"><i class="bx bx-plus"></i></a>
                <a href = "/details?portfolio_give=Bersama_Zakat" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-wrap">
              <img src="./static/assets/img/portfolio/portofolio-web-spartapedia.png" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Movie Pedia</h4>
                <p>Web</p>
              </div>
              <div class="portfolio-links">
                <a href="./static/assets/img/portfolio/portofolio-web-spartapedia.png" data-gallery="portfolioGallery" class="portfolio-lightbox"><i class="bx bx-plus"></i></a>
                <a href="/details?portfolio_give=Movie_Pedia" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="./static/assets/img/portfolio/portofolio-to-do-kolaboratif-app.png" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Task Kolaboratif</h4>
                <p>Android Application</p>
              </div>
              <div class="portfolio-links">
                <a href="./static/assets/img/portfolio/portofolio-to-do-kolaboratif-app.png" data-gallery="portfolioGallery" class="portfolio-lightbox"><i class="bx bx-plus"></i></a>
                <a href="/details?portfolio_give=Task_Kolaboratif" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-wrap">
              <img src="./static/assets/img/portfolio/portofolio-web-personal-diary.png" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Personal Diary</h4>
                <p>Web</p>
              </div>
              <div class="portfolio-links">
                <a href="./static/assets/img/portfolio/portofolio-web-personal-diary.png" data-gallery="portfolioGallery" class="portfolio-lightbox"><i class="bx bx-plus"></i></a>
                <a href="/details?portfolio_give=Personal_Diary" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="./static/assets/img/portfolio/portofolio-movie-app.png" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Watching Movie</h4>
                <p>Android Application</p>
              </div>
              <div class="portfolio-links">
                <a href="./static/assets/img/portfolio/portofolio-movie-app.png" data-gallery="portfolioGallery" class="portfolio-lightbox"><i class="bx bx-plus"></i></a>
                <a href="/details?portfolio_give=Watching_Movie" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>
x
          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-wrap">
              <img src="./static/assets/img/portfolio/portofolio-web-admin-panel.png" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Admin Panel</h4>
                <p>Web</p>
              </div>
              <div class="portfolio-links">
                <a href="./static/assets/img/portfolio/portofolio-web-admin-panel.png" data-gallery="portfolioGallery" class="portfolio-lightbox"><i class="bx bx-plus"></i></a>
                <a href="/details?portfolio_give=Admin_Panel" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Portfolio Section -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact section-bg">
      <div class="container">

        <div class="section-title">
          <h2>Contact</h2>
          <p >Any type of question & discussion</p>
          
        </div>

        <div class="row">

          <div class="col-lg-4 col-md-4">
            <div class="contact-about">
              <div class="social-links">
                <a href="https://wa.me/081294884667?texthai" class="whatsapp"><i class="bi bi-whatsapp"></i></a>
                <a href="https://www.instagram.com/ardiansputrraa/?hl=en" class="instagram"><i class="bi bi-instagram"></i></a>
                <a href="https://www.linkedin.com/in/fani-muh-ardian-saputra-770472221" class="linkedin"><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="info">
              <div class="d-flex align-items-center">
                <i class="bi bi-geo-alt"></i>
                <p>Indonesia, Jakarta Pusat</p>
              </div>

              <div class="d-flex align-items-center mt-4">
                <i class="bi bi-envelope"></i>
                <p>ardiansaputra2580@gmail.com</p>
              </div>

              <div class="d-flex align-items-center mt-4">
                <i class="bi bi-phone"></i>
                <p>+6281294884667</p>
              </div>

            </div>
          </div>
        </div>
      </div>
    </section><!-- End Contact Section -->
  </main><!-- End #main -->
  {% include "footer.html" %} 